# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Ignore all 'generated' folders
**/generated/

# But allow this specific file from the generated folder
!generated/ManifestTypes.d.ts

# output directory
/out

# msbuild output directories
/bin
/obj

# Ignore all bin/ and obj/ folders in all subdirectories
bin/
obj/

# But allow files from MySolutionFolder/bin/Debug/
!LookupMultiSelectSolution/bin/Debug/


# MSBuild Binary and Structured Log
*.binlog
