# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Output directories
/out
/bin
/obj

# MSBuild output directories
*.binlog

# Ignore all 'generated' folders except specific files
**/generated/
!generated/ManifestTypes.d.ts

# Ignore all bin/ and obj/ folders in all subdirectories
bin/
obj/

# Allow specific files from MySolutionFolder/bin/Debug/
!LookupMultiSelectSolution/bin/Debug/